    body{
        margin: 0;
        font-family: sans-serif;
    }
    #header{
        position: fixed;
        background-color: rgba(235, 235, 235, 0.900);
        width: 100%;
        height: 60px;
        z-index: 2;
    }
    #nav-bar{
        display:flex;
        justify-content: space-between;
        background-color: transparent;
        padding-left: 15px;
        height: 60px;
    }
    .nav-link{
        height: 40px;
        width: 100px;
        color: black;
        padding-top: 20px;
        font-size: 17px;
        text-align: center;
        text-decoration: none;
        display: block;
        float: right;
    }
    #header-img{
        width: 90px;
        height: 80px;
        position: relative; 
        bottom: 10px;
    }
    .nav-link:hover{
        background-color:whitesmoke;
    }

    #video-div{
        position: relative;
        margin: 0;
        bottom: 20px;
        z-index: 0;
    }

    @media screen and (max-width:425px){
        #header-img{
            display: none;
        }

        #model-links{
            margin-left: 20px;
        }
    }

    #flex-container{
        display: flex;
        justify-content: space-around;
    }

    .model-cards{
        border-style: solid;
        border-width: 0.5px;
        border-radius: 20px;
        width: 350px;
        text-align: center;
    }

    .model-cards:hover{
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .model-icons{
        max-width: 100%;
        border-radius: 30px;
    }
    
    h3{
        text-align: center;
    }